body {
  background-color: #dee2e6;
}

#all-questions > div{
  background-color: #fff;
}

.white-bg {
  background-color: #fff;
}
.text-small{
  font-size: .875rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn-ouline-secondary-no-hover:hover {
 background-color: #fff;
 color: #6c757d;
}

.complete {
  text-decoration: line-through;

}


